@model ECOGroup.Models.sai_shop_master

@{
    ViewBag.Title = "Shopmasterinfo";
    Layout = "~/Views/Shared/Ecogroupmaster.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="../../Content/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="../../Content/css/main.css">
<link rel="stylesheet" href="../../Content/css/validationEngine.jquery.css" type="text/css">
<link rel="stylesheet" href="../../Content/css/validation.css" type="text/css">
<link type="text/css" href="../../Content/css/jquery-ui-1.css" rel="stylesheet">
<link rel="stylesheet" href="../../Content/css/popup.css">

<div class="box">
<div class="heading">
      <h1><img src="../../Content/image/user-group.png" alt="">Shop Detail</h1>
      <div class="buttons"></div>
    </div>
<div class="content">
<div id="searchdata">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <table width = "50%" align="center">
      <tr>
       <td>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.shopname)
        </div>
       </td>
       <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.shopname)
            @Html.ValidationMessageFor(model => model.shopname)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ownername)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ownername)
            @Html.ValidationMessageFor(model => model.ownername)
        </div>
        </td>
         </tr>
         <tr>
         <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.mobile)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.mobile)
            @Html.ValidationMessageFor(model => model.mobile)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.tal)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.tal)
            @Html.ValidationMessageFor(model => model.tal)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.dist)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.dist)
            @Html.ValidationMessageFor(model => model.dist)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.add1)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.add1)
            @Html.ValidationMessageFor(model => model.add1)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.add2)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.add2)
            @Html.ValidationMessageFor(model => model.add2)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.pin)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.pin)
            @Html.ValidationMessageFor(model => model.pin)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.comments)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.comments)
            @Html.ValidationMessageFor(model => model.comments)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.isAcive)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.isAcive)
            @Html.ValidationMessageFor(model => model.isAcive)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.isEmailVerified)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.isEmailVerified)
            @Html.ValidationMessageFor(model => model.isEmailVerified)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.isMobileVerified)
        </div>
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.isMobileVerified)
            @Html.ValidationMessageFor(model => model.isMobileVerified)
        </div>
        </td>
        </tr>
        <tr>
        <td>
        </td>
        <td>
        <p>
            <input type="submit" value="Save" />
        </p>
        </td>
        </tr>
   </table>
}
</div>
</div>
</div>

